/*로그인 팝업 관련 css*/
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);

    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}

.show {
    /*show function 관련 css*/
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}

.window {
    position: relative;
    width: 100%;
    height: 100%;
}

.popup {
    position: absolute;
    top: 17%;
    left: 40%;
    background-color: white;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

    /* 임시 지정 */
    width: 400px;
    height: 480px;
}

/*로그인 화면 관련 css*/
.popup .loginHeader{
    display: flex;
    height:10%;
    background-color: rebeccapurple;
    color: white;
    font-family: "맑은 고딕";
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding-left:20px;
    padding-right:20px;
}

.popup #close{
    font-size:20px;
    color: white;
    background-color: rebeccapurple;
    border:0;
    outline:0;
}

.popup .loginMain{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px 20px 20px 10px;
}
.popup #username{
    width:100%;
    height:40px;
    border-width: thin;
    border-color: whitesmoke #CCCCCC #CCCCCC whitesmoke;
}
.popup #password{
    width:100%;
    height:40px;
    margin-top:20px;
    margin-bottom: 20px;
    border-width: thin;
    border-color: whitesmoke #CCCCCC #CCCCCC whitesmoke;
}
.popup #loginBt{
    width:100%;
    height:40px;
    margin:40px 0px 40px 0px;
    justify-content: center;
    color: #444444;
    background-color:lightgray;
    border-radius: 5px;
    border-style:none;
}

.popup .loginFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{ /* 메인페이지 버튼 관련 */
    text-align: center;
}
.movies{
    padding-left: 25%;
    padding-right: 25%;
}



h2{
    text-align: center;
    width: 100px;
    margin: 0 auto;
}
.search{
    text-align: center;
}
.search1{
    position: absolute;
    left: 150%;
}
.movies h4{
    padding : 40px 20px;
    font-size: 20px;
    color:white;
}
/*이미지크기 동일화*/
.movies img {
    border-radius: 10%;
    width:200px;
    height:200px;
}
.movies .jb-a {
    text-align: center;
    margin: 5px 5px 5px 5px;
    width: 200px;
    float:left;
    position: relative
}

.movies .jb-c {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s linear;
}
.movies .jb-a:hover .jb-c {
    opacity: 1;
}
.movies .jb-a:hover .jb-b{
    filter: brightness(50%);
}

.post{
    float:left;
}

.movies .slide{
    width:840px; height:200px;/**사진보다 크면 다음 사진까지 표시되어 img와 slide크기를 맞춘다.**/
    overflow: hidden;/
}

.movies .images {

    display: flex; /**좌우 슬라이드를 위해 flex로 사진을 가로정렬한다.**/
    height:200px; /**slide와 images의 높이가 다르면 부자연스럽게 표시돼 slide의 높이에 맞게 높이를 바꾼다.**/
    transition: transform 0.5s;
    /**어떤 속성에 대해 애니메이션 효과를 주는 속성이다.
    tranform속성에 0.5초의 듀레이션(동작의 시작해서 끝나는 시간)을 준다.**/

}

.movies .back{
    position:relative;
    bottom: 120px; right: 50px;
    width: 30px; height: 30px;
    color: white;
    background: #646464;
}
.movies .next{
    position:relative;
    bottom: 120px; left: 840px;
    width: 30px; height: 30px;
    color: white;
    background: #646464;
}

.movies .next:active{/**버튼을 클릭하는 동안 색을 바꾼다.**/
    background:#3e3e3e;
}
.movies .next:disabled{/**버튼 속성이 disabled되면 색을 바꾼다.**/
    background: #cbcaca;
}

.movies .back:active{/**버튼을 클릭하는 동안 색을 바꾼다.**/
    background:#3e3e3e;
}
.movies .back:disabled{/**버튼 속성이 disabled되면 색을 바꾼다.**/
    background: #cbcaca;
}

/**해시태그  **/

.movies .hash_td {
    text-align: center;
    margin: 5px 10px 5px 10px;
    width: 200px;
    float:left;
    position: relative
}

.movies .hash_td:hover .jb-c {
    opacity: 1;
}
.movies .hash_td:hover .jb-b{
    filter: brightness(50%);
}
.movies .hash_tr{
    height:100px;
}