
html,
body{
    height: 100%;
    width:100%;
    overflow-x:hidden;
}

.shadow2 .review_title:hover{
    color:green;
}

.movie_chart{
    width: 50%;
    float:left;
}
.reviews{
    width:100%;

    float:left;
}
/**하단 리뷰 **/

.shadow2 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 5%;
    margin:10px 10px 10px 10px;
    width:200px;
    height:300px;
    display: inline-block;
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: translateZ(0);
}

.shadow2:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow2 span{
    width:200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /**생략기호**/
    color:black;


}
.shadow2 button{
    width:200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /**생략기호**/
    display: block;/* 블록태그로 만들어준다 */

}

.shadow2:hover {
    transform: translateY(-5px);
    /* move the element up by 5px */
}
.shadow2:hover:before {
    opacity: 1;
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/*@media all and (max-width: 760px) {*/
/*}*/

/*@media all and (min-width: 1024px) {*/
/*}*/

.movie_image{
    position:relative;
    width: 50%;
    float: left;
    left: 10%;
    top:100px;
}

.review_btn {
    left: 40%;
    padding: 20px 40px;
    background: none;
    border: none;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
}
.review_btn:after, .review_btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #000;
    transition: transform 0.2s;
}
.review_btn:after {
    transform: translate(3px, 3px);
}
.review_btn:before {
    transform: translate(-3px, -3px);
}
.review_btn:hover:after, .review_btn:hover:before {
    transform: translate(0);
}