<!doctype html>
<html lang="en">
<head>
  <link rel="short icon" href="/img/bemo.ico"/>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  <link href="/css/review.css" rel="stylesheet">
  <style>
    img {
      border-radius: 10%;
      width: 200px;
      height: 200px;
    }

  </style>
  <title>BEMO</title>
</head>
<body>
<div class="col-md-12">
  <div class="col-md-4">
    <div class="container">
      <div class="row header">
      </div>
      <div class="row body">

        <span style="font-size:30px;" id="mvtitle" name="mvtitle" th:text="${movie_title}"></span></br>
        <tr th:each="Posts: ${Posts}" th:if="${Posts != null}"></tr>
        <ul>
          <li>
            <label>작성자 :</label>
            <tr th:text="${Posts.authorname}"></tr>
            <br>
          </li>
          <li>
            <label>영화 :</label>
            <tr th:text="${Posts.mvtitle}"></tr>
            <br>
          </li>
          <li>
            <label>제목 :</label>
            <tr th:text="${Posts.title}"></tr>
            <br>
          </li>
          <li>
            <label> 내용 </label>
            <tr th:text="${Posts.content}"></tr>
            <br>
          </li>
          <li>
            <div class="divider"></div>
          </li>
          <li>
            <label>
              이미지 :<img id="image" th:src="${Posts.url}"><br>
            </label>
          </li>
          <li>
            <label>해시태그 :</label>
            <tr>
              <th:block th:each="Hashtags: ${Posts.getHashtags()}"
                        th:if="${Posts.getHashtags() != null}">
                <p th:text="${Hashtags.content} "></p>
              </th:block>
            </tr>

          </li>
        </ul>
        </tr>
        <div th:if="${writer==true}"> <!--본인일때 수정하기 버튼보이게-->
          <form method="post" th:action="@{/modify/{id} (id=${id})}">
            <button class="btn btn-primary" type="submit">수정하기</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>