
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<link href='https://codepen.io/badant2019/pen/zYqdEaq.css' rel='stylesheet'/>
<link rel="short icon" href="/img/bemo.ico"/>
<link href="/css/error.css" rel="stylesheet" />
<title>BEMO</title>
<style>
    .header-menu, #Header1, #LinkList72, #FollowByEmail1, .footer, .back-top {display:none !important;padding:0px !important;margin:0px !important;}

    .header-header{height:0px !important;}

    #content-wrapper{margin:auto !important;padding:0px !important;border:0px !important;}

    #sub-footer-wrapper{padding:0px !important;border:0px !important;height:0px !important;}

    .row{width:100% !important;}

    .copyright-area{font-size:0px;height:0px;line-height:0px;}

    #footer-wrapper{background:transparent;}

    #outer-wrapper{background-color: transparent; height:100%;}

    body{background: #413163; background: linear-gradient(328deg, #6e366e 0%, #3f3162 100%) !important;}


    /* Small devices (portrait tablets and large phones, 200px and up) */
    @media only screen and (min-width: 200px) {
        .image-404{width:45%;}
        .object_earth{width:15%;}
        .object_moon{width:15%;}
        .object_astronaut{width:40%;}}

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .image-404{width:45%;}
        .object_earth{width:15%;}
        .object_moon{width:15%;}
        .object_astronaut{width:40%;}}

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .image-404{width:300px;}
        .object_earth{width:100px;}
        .object_moon{width:80px;}
        .object_astronaut{width:140px;}}

</style>




<div class='stars'>
    <div class='central-body'>
        <img class='image-404' src='https://1.bp.blogspot.com/-dLWU1VT2e1I/X0z3uM4RuTI/AAAAAAAAA38/MnBKrTfMVm0td3Z6OFXnZ50ciCyBFslXwCLcBGAsYHQ/s438/404.png'/>
        <a class='btn-go-home' href='http://localhost:8080/'>GO BACK HOME</a>
    </div>
    <div class='objects'>
        <img class='object_rocket' src='https://1.bp.blogspot.com/-2Wx_I52zY3s/X0z4a5YL5pI/AAAAAAAAA4Q/S3C6fv81CDUsOMPuDkJMZB62S8AWU3D4ACLcBGAsYHQ/s58/rocket%2B%25281%2529.png' width='40px'/>
        <div class='earth-moon'>
            <img class='object_earth' src='https://1.bp.blogspot.com/-02QfCnHqpEY/X0z4vDT0UUI/AAAAAAAAA4c/5oYrVkuOz94mCcFgIGj3C5mR6uJD9fNQQCLcBGAsYHQ/s140/earth%2B%25281%2529.png'/>
            <img class='object_moon' src='https://1.bp.blogspot.com/-PaaUIcDOlcU/X0z2bHdZ5UI/AAAAAAAAA3g/UHIjiKs_eg4xusjWsjAey1AKztYgE7K7wCLcBGAsYHQ/s92/moon.png'/>
        </div>
        <div class='box_astronaut'>
            <img class='object_astronaut' src='https://1.bp.blogspot.com/-rScobp7Mf5E/X0z1vb2NrMI/AAAAAAAAA3Y/Fph8pYiIt74xz5W4lzoR1bHyV_XMjWBQwCLcBGAsYHQ/s228/astronaut.png'/>
        </div>
    </div>
    <div class='glowing_stars'>
        <div class='star'/>
        <div class='star'/>
        <div class='star'/>
        <div class='star'/>
        <div class='star'/>

    </div></div>

