<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>BEMO</title>
    <link rel="short icon" href="/img/bemo.ico"/>
    <link href="/css/main.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        *{font-family: 'Jua', sans-serif;}
    </style>
</head>

<h2 th:text="'#'+${hashtag}"></h2>
<div class="movies">
        <div class="images">
            <table>
                <td class="hash_td" id="id" name="id" th:each="string,i: ${jsontitle}">
                    <form th:action="@{/moviedetail/{detail} (detail=${jsontitle.get(i.index)})}" >
                        <button type="submit" style="background-color:transparent; border:0; outline:0;" >
                            <img class="jb-b" id="image" th:src="${jsonimage.get(i.index)}"/>
                            <h4 class="jb-c" th:text="${jsontitle.get(i.index)}"/>
                        </button>
                    </form>
                </td>
            </table>
        </div>
    <br>
</div>
<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js"
        charSet="utf-8"></script>
<script type="text/javascript" src="/js/main.js"></script>


</body>
</html>