<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <link rel="stylesheet" href="css/main.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'메인페이지 ' + ${data}" ></p>

<button type="submit" onclick="location.href='./ticket'">티켓페이지</button>
<button type="submit" onclick="location.href='./search'">검색</button>

<button id="show">로그인</button>
<div class="background">
    <div class="window">
        <div class="popup">
            <div class="loginHeader">로그인<button id="close">X</button></div>
            <div class="loginMain">
                <form action="/login/signin" method = "post">
                    <div><input type = "text" name ="id" placeholder="아이디" id = "loginId"></div>
                    <div><input type = "password" name = "passwd" placeholder="비밀번호" id="loginPw"></div>
                    <div><input type = "checkbox" name = "preserve">아이디 저장</div>
                    <div><input type = "submit" value="로그인" id="loginBt"></div>
                </form>
            </div>
            <div class="loginFooter" id="naverIdLogin"></div>
        </div>
    </div>
</div>
<script> // 로그인 popup 관련 script
    function show () {
        document.querySelector(".background").className = "background show";
    }

    function close () {
        document.querySelector(".background").className = "background";
    }

    document.querySelector("#show").addEventListener('click', show);
    document.querySelector("#close").addEventListener('click', close);
</script>

<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
<script> // 네이버 로그인 api 관련 script
    const naverLogin = new naver.LoginWithNaverId(
        {
            clientId: "bewHk2sJKKeHUvdyVRII", //내 애플리케이션 정보에 cliendId를 입력해줍니다.
            callbackUrl: "http://localhost:8080/", // 내 애플리케이션 API설정의 Callback URL 을 입력해줍니다.
            isPopup: false,
            callbackHandle: true,
            loginButton: {color: "green", type: 3, height: 60}
        }
    );
    naverLogin.init(); // 로그인 설정

    window.addEventListener('load', function () {
        // 이름, 이메일 주소, 별명, 출생연도, 휴대전화번호 + 생일
        // 메가박스는 이름, 이메일 주소 추가만
        naverLogin.getLoginStatus(function (status) {
            if (status) {
                const email = naverLogin.user.getEmail(); // 필수로 설정할것을 받아와 아래처럼 조건문을 줍니다.

                console.log(naverLogin.user);

                if( email == undefined || email == null) {
                    alert("이메일은 필수정보입니다. 정보제공을 동의해주세요.");
                    naverLogin.reprompt();
                    return;
                }
            } else {
                console.log("callback 처리에 실패하였습니다.");
            }
        });
    });


    let testPopUp;

    function openPopUp() {
        testPopUp= window.open("https://nid.naver.com/nidlogin.logout", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,width=1,height=1");
    }
    function closePopUp(){
        testPopUp.close();
    }

    function naverLogout() {
        openPopUp();
        setTimeout(function() {
            closePopUp();
        }, 1000);
    }
</script>
</body>
</html>