<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <link href="css/main.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'메인페이지 ' + ${data}" ></p>

<button type="submit" onclick="location.href='./ticket'">티켓페이지</button>
<button type="submit" onclick="location.href='./search'">검색</button>

<button id="show">로그인</button>
<div class="background">
    <div class="window">
        <div class="popup">
            <div class="loginHeader">로그인<button id="close">X</button></div>
            <div class="loginMain">
                <form action="/login/signin" method = "post">
                    <div><input type = "text" name ="id" placeholder="아이디" id = "loginId"></div>
                    <div><input type = "password" name = "passwd" placeholder="비밀번호" id="loginPw"></div>
                    <div><input type = "checkbox" name = "preserve">아이디 저장</div>
                    <div><input type = "submit" value="로그인" id="loginBt"></div>
                </form>
            </div>
            <div class="loginFooter" id="naverIdLogin"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js"
        charSet="utf-8"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>