<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>BEMO</title>
    <link rel="short icon" href="/img/bemo.ico"/>
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/movie.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/template.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/template.js"></script>

</head>
<body>
<div class="nav-header">
    <div class="nav-brand">
        <img src="/img/bemo.ico">
        <a style="visibility: hidden">[[port]]</a>
        <script>
            let port = [[${port}]];
            console.log(port);
        </script>
    </div>
    <i class="fa fa-bars fa-3x"></i>
    <div class="header-links">
        <ul>
            <li data-menuanchor="fourthPage" sec:authorize="isAnonymous()" ><button type="submit" onclick="location.href='./signup'">회원가입</button></li>
            <li data-menuanchor="thirdPage" sec:authorize="isAnonymous()"><button id="show">로그인</button></li>
            <li data-menuanchor="secondPage"><button type="submit" onclick="location.href='./'">BEMO</button></li>
            <li sec:authorize="isAuthenticated()" ><button id="logoutBt" type="submit" onclick="location.href='./logout'">로그아웃</button></li>
            <li>
                <form style="display: inline;" sec:authorize="isAuthenticated()" action="getUser()" th:action="@{profile}" method="post">
                    <input type="hidden" id="profile" th:name="userinfo" th:value="${userinfo}">
                    <button type="submit">프로필</button>
                </form>
            </li>
        </ul>
    </div>
</div>
<!-- end navbar header -->


<div id="fullpage">

    <div class="section aboutme" data-anchor="aboutme">
        <div class="opaque-bg animated fadeInDown">
            <h1 style="color:white">BEMO</h1>
            <p><span id="holder"></span><span class="blinking-cursor">|</span></p>
        </div>
        <i id="moveDown" class="fa fa-chevron-down fa-3x bounce"></i>
    </div>
</div>


<div class="background">
    <div class="window">
        <div class="popup">
            <div class="form">
                <div class="form-header"><h1>로그인</h1>
                    <button id="close">X</button>
                </div>
                <div class="form-content">
                    <form action="login" method="post">
                        <div class="form-group">
                            <label for="username">아이디</label>
                            <input type="text" name="username" placeholder="아이디" id="username" required="required">
                        </div>
                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input type="password" name="password" placeholder="비밀번호" id="password" required="required">
                        </div>
                        <div class="form-group">
                            <label class="form-remember">
                                <input type="checkbox" name="preserve">아이디 저장</label>
                        </div>
                        <div class="form-group">
                            <button id="loginBt" type="submit">로그인</button>
                        </div>
                    </form>
                </div>
                <div class="textForFooter">SNS 계정으로 간편 로그인</div>
                <div class="form-footer">
                    <a href="/oauth2/authorization/naver" class="btn"><img src="img/naverLogin.png"></a>
                    <a href="/oauth2/authorization/kakao" class="btn"><img src="img/kakaoLogin.png"></a>
                    <a href="/oauth2/authorization/google" class="btn"><img class="google" src="img/googleLogin.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="search">
    <form action="/send" class="search-container" method="GET">
        <input type="text" name="moviename" id="search-bar" placeholder="영화 또는 해시태그(#반전)를 검색해주세요">
        <input type="image" class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png">
    </form>
</div>
<br>

<div class="movies">
    <h2 class="boxoffice">BOXOFFICE</h2>
    <div class="slide">

        <div class="images">
            <div class="jb-a">
                <form th:action="@{/moviedetail/{detail}/{code} (detail=${boxtitle1},code=${code1})}" th:object="${imageVO}">
                    <button type="submit" style="background-color:transparent; border:0; outline:0;" >
                        <img class="jb-b" th:name="image" th:src = "${boximage1}"/>
                        <h4 class="jb-c" th:text = "${boxtitle1}"/>
                    </button>
                </form>
            </div>
            <div class="jb-a">
                <form th:action="@{/moviedetail/{detail}/{code} (detail=${boxtitle2},code=${code2})}" >
                    <button type="submit" style="background-color:transparent; border:0; outline:0;" >
                        <img class="jb-b" id="boximage2" th:src = "${boximage2}"/>
                        <h4 class="jb-c"  th:text = "${boxtitle2}"/>
                    </button>
                </form>
            </div>
            <div class="jb-a">
                <form th:action="@{/moviedetail/{detail}/{code} (detail=${boxtitle3},code=${code3})}" >
                    <button type="submit" style="background-color:transparent; border:0; outline:0;" >
                        <img class="jb-b" id="boximage3" th:src = "${boximage3}"/>
                        <h4 class="jb-c" th:text = "${boxtitle3}"/>
                    </button>
                </form>

            </div>
            <div class="jb-a">
                <form th:action="@{/moviedetail/{detail}/{code} (detail=${boxtitle4},code=${code4})}" >
                    <button type="submit" style="background-color:transparent; border:0; outline:0;" >
                        <img class="jb-b" id="boximage4" th:src = "${boximage4}"/>
                        <h4 class="jb-c"  th:text = "${boxtitle4}"/>
                    </button>
                </form>
            </div>
            <div class="jb-a">
                <form th:action="@{/moviedetail/{detail}/{code} (detail=${boxtitle5},code=${code5})}" >
                    <button type="submit" style="background-color:transparent; border:0; outline:0;" >
                        <img class="jb-b" id="boximage5" th:src = "${boximage5}"/>
                        <h4 class="jb-c" th:text = "${boxtitle5}"/>
                    </button>
                </form>
            </div>
            <div class="jb-a">
                <form th:action="@{/moviedetail/{detail}/{code} (detail=${boxtitle6},code=${code6})}" >
                    <button type="submit" style="background-color:transparent; border:0; outline:0;" >
                        <img class="jb-b" id="boximage6" th:src = "${boximage6}"/>
                        <h4 class="jb-c"  th:text = "${boxtitle6}"/>
                    </button>
                </form>
            </div>
            <div class="jb-a">
                <form th:action="@{/moviedetail/{detail}/{code} (detail=${boxtitle7},code=${code7})}" >
                    <button type="submit" style="background-color:transparent; border:0; outline:0;" >
                        <img class="jb-b" id="boximage7" th:src = "${boximage7}"/>
                        <h4 class="jb-c" th:text = "${boxtitle7}"/>
                    </button>
                </form>

            </div>
            <div class="jb-a">
                <form th:action="@{/moviedetail/{detail}/{code} (detail=${boxtitle8},code=${code8})}" >
                    <button type="submit" style="background-color:transparent; border:0; outline:0;" >
                        <img class="jb-b" id="boximage8" th:src = "${boximage8}"/>
                        <h4 class="jb-c"  th:text = "${boxtitle8}"/>
                    </button>
                </form>
            </div>
        </div>

    </div>
    <div class="arrow1"></div>
    <div class="arrow2"></div>


    <br>
    <h2>HASHTAG</h2>
    <div class="hashtag" style="text-align: center;">
        <th:block th:each="hashtags: ${hashtag}" th:if="${hashtags != null}">
            <form action="send" method="GET" style="display: inline;">
                <input type="hidden" name="moviename" th:value="'#'+ ${hashtags}">
                <button rel="outline-outward" class="button outline-outward" th:text="'#'+ ${hashtags}"></button>
            </form>
        </th:block>
    </div>
    <br>
    <h2>REVIEW</h2>
    <div style="text-align: center;">
        <table style="margin-left:auto;margin-right:auto;" >
            <td class="shadow2" id="id" name="id" th:each="Posts: ${Posts}">
                <form th:method="GET" th:action="@{/users/{id} (id=${Posts.post_id})}" >
                    <button type="submit"><img style="border-radius: 10%;" class="review_img" id="image" th:src="${Posts.url}"></button>
                    <button type="submit" style="width:200px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" class="review_title" th:text="${Posts.title}" ></button>
                    <th:block style="width:200px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" th:each="Hashtags: ${Posts.getHashtags()}" th:if="${Posts.getHashtags() != null}">
                        <span th:text="'#'+ ${Hashtags.content} "></span>
                    </th:block><br>
                    <div style="width:200px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" th:text="${Posts.mvtitle}"></div>
                    <span th:text="${Posts.authorname}"></span><br>
                    <span th:text="${Posts.update_date}"></span>
                </form>
            </td>
        </table>
    </div>
</div>
<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js"
        charSet="utf-8"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script>

    let pages = 0;//현재 인덱스 번호
    let positionValue = 0;//images 위치값
    const IMAGE_WIDTH = 242;//한번 이동 시 IMAGE_WIDTH만큼 이동한다.
    //DOM
    const backBtn = document.querySelector(".arrow1")
    const nextBtn = document.querySelector(".arrow2")
    const images = document.querySelector(".images")

    function next() {
        if (pages< 4) {
            backBtn.removeAttribute('disabled')//뒤로 이동해 더이상 disabled가 아니여서 속성을 삭제한다.
            positionValue -= IMAGE_WIDTH;//IMAGE_WIDTH의 증감을 positionValue에 저장한다.
            images.style.transform = `translateX(${positionValue}px)`;
            //x축으로 positionValue만큼의 px을 이동한다.
            pages += 1; //다음 페이지로 이동해서 pages를 1증가 시킨다.
        }
        if (pages === 4) { //
        }
    }

    function back() {
        if (pages > 0) {
            nextBtn.removeAttribute('disabled')
            positionValue += IMAGE_WIDTH;
            images.style.transform = `translateX(${positionValue}px)`;
            pages -= 1; //이전 페이지로 이동해서 pages를 1감소 시킨다.
        }
        if (pages === 0) {
        }
    }

    function init() {  //초기 화면 상태
        backBtn.addEventListener("click", back); //클릭시 다음으로 이동한다.
        nextBtn.addEventListener("click", next);//클릭시 이전으로 이동한다.
    }
    init();
</script>

</body>
</html>