<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BEMO</title>
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/image/empty.png" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        *{font-family: 'Jua', sans-serif;}
    </style>
</head>
<body>
<div class="search">
<form action="send" method="GET">
    <input type="text" name="moviename" >
    <button type="submit">검색</button>
</form>
</div>
<br><br>
    <div class="movies">
        <div class="jb-a">
            <div class="search1">
            <form th:action="@{/moviedetail/{detail} (detail=${title1})}" >
                <button type="submit" style="background-color:transparent; border:0; outline:0;" >
                    <img class="jb-b1" th:if="${image1}!=''" th:src = "${image1}"/>
                    <img class="jb-b1" th:if="${image1}==''" src="/img/bemo.JPG" />
                    <h4 class="jb-c1" th:text = "${title1}"/>
                </button>
            </form>
            </div>
        </div>
    </div>
</body>
</html>