<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JAVA MOVIE PROJECT</title>
    <link href="/css/main.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        *{font-family: 'Jua', sans-serif;}
    </style>
</head>
<body>
<form action="send1" method="GET">
    <input type="text" name="moviename" >
    <button type="submit">검색</button>
</form>
</body>
</html>