<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입 페이지</title>
<!-- https://cocoon1787.tistory.com/700 가져옴 -->
    <link href="/css/signup.css" rel="stylesheet" />
    <link rel="short icon" href="/img/bemo.ico"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">
    <div class="wrapper">
        <h2 class="title">회원가입</h2>
        <p class="text">SNS 계정으로 간편 회원가입</p>
        <p class="badge-wrap">
            <a class="badge"><i class="fab fa-facebook-f"></i></a>
            <a class="badge"><i class="fab fa-google"></i></a>
            <a class="badge"><i class="fab fa-twitter"></i></a>
            <a class="badge"><i class="fab fa-github"></i></a>
        </p>
        <p class="text">또는 이메일로 회원가입</p>
        <form class="form">
            <div class="form-group">
                <input class="form-control" id="username" name ="username"  type="text" placeholder="아이디">
            </div>
            <div class="form-group">
                <input class="form-control" id="nickname" name ="nickname"  type="text" placeholder="닉네임">
            </div>
            <div class="form-group">
                <input class="form-control" id="password" name="password" type="password" placeholder="비밀번호 (영문자+숫자+특수문자 조합 8~25)">
            </div>
            <div class="form-group">
                <input class="form-control" id="passwordCheck" type="password" placeholder="비밀번호 확인">
            </div>
            <div class="form-group">
                <input class="form-control" id="cellphone" name="cellphone" type="text" placeholder="전화번호 (010-000-0000)" maxlength="13">
            </div>
            <div class="form-group birthday">생일 입력 :
                <input class="form-control" type="date"
                       name="birthday"
                       id="birthday"
                       th:max="${now}"
                       min="1870-01-01"
                       value="2000-01-01">
            </div>
            <button type="button" class="btn btn-lg" id="btn-lg">가입하기</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" th:src="@{/js/signup.js}"></script>

</body>
</html>