<!DOCTYPE html>
<html lang="ko">

<head>
    <title>회원가입 페이지</title>
<!-- https://cocoon1787.tistory.com/700 가져옴 -->
    <link href="/css/signup.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        *{font-family: 'Jua', sans-serif;}
    </style>

</head>

<body>
<div class="wrapper">
    <div class="title"><h1 style="font-size: 21px;">회원가입</h1></div>
    <form action="join" method="post">
        <div class="username">
            <input id="username" name ="username"  type="text" placeholder="아이디를 입력해 주세요.">
            <div id="nameError" class="error"></div>
        </div>
        <div class="password">
            <input id="password" name="password" type="password" placeholder="비밀번호를 입력해 주세요.">
            <div id="passwordError" class="error"></div>
        </div>
        <div class="passwordCheck">
            <input id="passwordCheck" type="password" placeholder="비밀번호를 다시 입력해 주세요.">
            <div id="passwordCheckError" class="error"></div>
        </div>
        <div class="cellphone">
            <input id = "cellphone" name="cellphone" type="text" placeholder="전화번호를 입력해 주세요. 010-000-0000" maxlength="13">
            <div id="cellphoneError" class="error"></div>
        </div>
        <div class="birthday">생일을 입력해 주세요:
            <input type="date"
                   name="birthday"
                   id="birthday"
                   max="2022-12-08"
                   min="1800-01-01"
                   value="2022-12-08">
        </div>
        <div id="birthdayError" class="error"></div>
        <div class="line">
            <hr>
        </div>
        <div class="signUp">
            <button type="submit" id="signUpButton">가입하기</button>
        </div>
    </form>
</div>
</body>
</html>