<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script>
    function AddDays(date, days) {
        // date는 문자열로 받는다 ex, '2020-10-15'
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result;
    }

</script>
</body>
</html>