<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BEMO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        *{font-family: 'Jua', sans-serif;}
    </style>
</head>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<body>

<form action="/send2" name="ex_form" method="GET">
    <input type="date" name="startday" id="Date">
    <button type="submit">검색</button>
    <!--<input type="button" name="target_name" value="">-->
</form>
<script >
    function numFormat(variable)
    {
        // 해당 달의 말일
        variable = Number(variable).toString();
        if(Number(variable) < 10 && variable.length == 1)
            variable = "0" + variable;
        return variable;
    }
    var now_utc = Date.now()
    var timeOff = new Date().getTimezoneOffset()*60000;
    var today = new Date(now_utc-timeOff).toISOString().split("T")[0];
    console.log(today)
    var arr1 = today.split('-');
    var dat1 = new Date(arr1[0],arr1[1],arr1[2]);
    var test = dat1.getDate()+6
    var hi =numFormat(test)
    console.log(hi)

    var last = new Date(arr1[0],arr1[1],0);
    var lastday = last.getDate(); // 해당 달의 말일
    if (hi>lastday){  //딱 달 넘어갈때만 적용
        AddMonth = dat1.getMonth()+1
        hi = "01"
    }
    else{
        AddMonth = dat1.getMonth()
    }


    var seven = dat1.getFullYear()+"-"+AddMonth+"-"+hi;
    console.log(seven)


    document.getElementById("Date").setAttribute("min", today);
    document.getElementById("Date").setAttribute("max", seven);
</script>

</body>
</html>