<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<form action="send2" method="GET">
    <input type="date" name="startday" id="Date">
    <button type="submit">검색</button>
</form>
<script>
    var now_utc = Date.now()

    var timeOff = new Date().getTimezoneOffset()*60000;
    var today = new Date(now_utc-timeOff).toISOString().split("T")[0];
    document.getElementById("Date").setAttribute("min", today);

</script>
<p th:text = "${jsonbody}"/>
</body>
</html>