<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<body>

<form action="/send2" name="ex_form" method="GET">
    <input type="date" name="startday" id="Date">
    <button type="submit">검색</button>
    <!--<input type="button" name="target_name" value="">-->
</form>
<script >

    function AddDays(date) {
        // date는 문자열로 받는다 ex, '2020-10-15'
        var result = new Date(date);
        result.setDate(result.getDate() + 7);
        return result;
    }

    var now_utc = Date.now()


    var timeOff = new Date().getTimezoneOffset()*60000;
    var today = new Date(now_utc-timeOff).toISOString().split("T")[0];
    var seven = AddDays(today);
    document.getElementById("Date").setAttribute("min", today);
    document.getElementById("Date").setAttribute("max", seven);
</script>



<!--<script th:inline="javascript">-->
<!--    /*<![CDATA[*/-->
<!--    var titlelist =[[${title}]];-->
<!--    for (var i=0; i< titlelist.length;i+=1){-->
<!--        document.ex_form.target_name.value= titlelist[i];-->
<!--    }-->
<!--    /*]]>*/-->
<!--</script>-->



</body>
</html>