<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<body>

<form action="/send2" name="ex_form" method="GET">
    <input type="date" name="startday" id="Date">
    <button type="submit">검색</button>
    <!--<input type="button" name="target_name" value="">-->
</form>
<script >



    var now_utc = Date.now()


    var timeOff = new Date().getTimezoneOffset()*60000;
    var today = new Date(now_utc-timeOff).toISOString().split("T")[0];
    var arr1 = today.split('-');
    var dat1 = new Date(arr1[0],arr1[1],arr1[2]);
    var seven = dat1.getFullYear()+"-"+dat1.getMonth()+"-"+(dat1.getDate()+6);




    document.getElementById("Date").setAttribute("min", today);
    document.getElementById("Date").setAttribute("max", seven);
</script>



<!--<script th:inline="javascript">-->
<!--    /*<![CDATA[*/-->
<!--    var titlelist =[[${title}]];-->
<!--    for (var i=0; i< titlelist.length;i+=1){-->
<!--        document.ex_form.target_name.value= titlelist[i];-->
<!--    }-->
<!--    /*]]>*/-->
<!--</script>-->



</body>
</html>