<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BEMO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        *{font-family: 'Jua', sans-serif;}
    </style>
    <style>

        .div3{
            float:left;
            margin-right: 100px;
        }
        .div1{
            float:left;
            margin-right: 100px;
        }
        .div4 {

            border: 1px solid;
            width: 100px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;


        }
        .theater{
            width: 100px;
            height: 50px;
            float:left;
        }

        /*.clicked {*/
        /*    color: blue;*/
        /*}*/
    </style>
    <style>
        .div2 input[type="radio"]{
            display: none;
        }
        .div2 input[type="radio"]+span{
            display: inline-block;
            padding: 15px 10px;
            border: 1px solid #dfdfdf;
            background-color: #ffffff;
            text-align: center;
            cursor: pointer;
        }
        .div2 input[type="radio"]:checked + span {
            background-color: #113a6b;
            color: #ffffff;
        }
    </style>
</head>

<body>

<form action="/send2" name="ex_form" method="GET" onclick="toggleBtn1()">
    <input type="date" name="startday" id="Date">
    <button type="submit" onclick="toggleBtn1()" >검색</button>
    <!--<input type="button" name="target_name" value="">-->
</form>
<div id="result1"></div>
<div id="result2"></div>
<div id="result3"></div>
<script>
    function numFormat(variable)
    {
        // 해당 달의 말일
        variable = Number(variable).toString();
        if(Number(variable) < 10 && variable.length == 1)
            variable = "0" + variable;
        return variable;
    }
    var now_utc = Date.now()
    var timeOff = new Date().getTimezoneOffset()*60000;
    var today = new Date(now_utc-timeOff).toISOString().split("T")[0];
    console.log(today)
    var arr1 = today.split('-');
    var dat1 = new Date(arr1[0],arr1[1],arr1[2]);
    var test = dat1.getDate()+6
    var hi =numFormat(test)
    console.log(hi)

    var last = new Date(arr1[0],arr1[1],0);
    var lastday = last.getDate(); // 해당 달의 말일
    if (hi>lastday){  //딱 달 넘어갈때만 적용
        AddMonth = dat1.getMonth()+1
        hi = "01"
    }
    else{
        AddMonth = dat1.getMonth()
    }


    var seven = dat1.getFullYear()+"-"+AddMonth+"-"+hi;
    console.log(seven)

    document.getElementById("Date").setAttribute("min", today);
    document.getElementById("Date").setAttribute("max", seven);



    function get_ticket() {

        const getticket
            = document.getElementsByName('ticket');

        const gettheater
            = document.getElementsByName('theater');

        const getmega
            =document.getElementsByName('mega');
        getticket.forEach((node) => {
            if(node.checked)  {
                document.getElementById('result1').innerText
                    = node.value;
            }

        })
        gettheater.forEach((node) => {
            if(node.checked)  {
                document.getElementById('result2').innerText
                    = node.value;
            }

        })
        getmega.forEach((node) => {
            if(node.checked)  {
                document.getElementById('result3').innerText
                    = node.value;
            }

        })
        //alert(document.getElementById('result1').innerText);
    }


</script>
<button onclick="get_ticket()">예매</button>
</br>
<div class ="ticket">
    <div class="div1">영화</br>
        <label class="div2"><input type="radio" name='ticket'   th:value='${title.get(0)}'  /><span th:text="${title.get(0)}"></span></label></br>
        <label class="div2"><input type="radio" name='ticket'  th:value='${title.get(1)}'  /><span th:text="${title.get(1)}"></span></label></br>
        <label class="div2"><input type="radio" name='ticket' th:value='${title.get(2)}' /><span th:text="${title.get(2)}"></span></label></br>
        <label class="div2"><input type="radio" name='ticket'  th:value='${title.get(3)}' /><span th:text="${title.get(3)}"></span></label></br>
        <label class="div2"><input type="radio" name='ticket' th:value='${title.get(4)}'  /><span th:text="${title.get(4)}"></span></label></br>
        <label class="div2"><input type="radio" name='ticket'  th:value='${title.get(5)}'  /><span th:text="${title.get(5)}"></span></label></br>
        <label class="div2"><input type="radio" name='ticket'  th:value='${title.get(6)}'  /><span th:text="${title.get(6)}"></span></label></br>
        <label class="div2"><input type="radio" name='ticket'  th:value='${title.get(7)}' /><span th:text="${title.get(7)}"></span></label></br>
        <label class="div2"><input type="radio" name='ticket'  th:value='${title.get(8)}'  /><span th:text="${title.get(8)}"></span></label></br>
        <label class="div2"><input type="radio" name='ticket' th:value='${title.get(9)}'  /><span th:text="${title.get(9)}"></span></label>

    </div>
    </br>
    <div class="div3">극장</br>
        <label class="div2"><input type="radio" class="div4" name="theater" value="서울" id="btn1" onclick="toggleBtn1()" ><span>서울</span></label></br>
        <label class="div2"><input type="radio" class="div4" name="theater" value="경기" id="btn2" onclick="toggleBtn2()"><span>경기</span></label></br>
        <label class="div2"><input type="radio" class="div4" name="theater" value="인천" id="btn3" onclick="toggleBtn3()" ><span>인천</span></label></br>
        <label class="div2"><input type="radio" class="div4" name="theater" value="대전/충청/세종" id="btn4" onclick="toggleBtn4()"><span>대전/충청/세종</span></label></br>
        <label class="div2"><input type="radio" class="div4" name="theater" value="부산/대구/경상" id="btn5" onclick="toggleBtn5()"><span>부산/대구/경상</span></label></br>
        <label class="div2"><input type="radio" class="div4" name="theater" value="광주/전라" id="btn6" onclick="toggleBtn6()"><span>광주/전라</span></label></br>
        <label class="div2"><input type="radio" class="div4" name="theater" value="강원" id="btn7" onclick="toggleBtn7()"><span>강원</span></label>


    </div>
    <div class="theater">
        <p type="text" id = "theater1" style="display:none;" >
            <label class="div2"><input type="radio" name= "mega" value="강남"><span>강남</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="군자"><span>군자</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="동대문"><span>동대문</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="마곡"><span>마곡</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="목동"><span>목동</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="상봉"><span>상봉</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="상암월드컵경기장"><span>상암월드컵경기장</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="성수"><span>성수</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="센트럴"><span>센트럴</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="송파파크하비오"><span>송파파크하비오</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="신촌"><span>신촌</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="이수"><span>이수</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="창동"><span>창동</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="코엑스"><span>코엑스</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="홍대"><span>홍대</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="화곡"><span>화곡</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="ARTNINE"><span>ARTNINE</span></label></br>
        </p>


        <p type="text" id = "theater2" style="display:none;">
            <label class="div2"><input type="radio" name= "mega" value="고양스타필드"><span>고양스타필드</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="광명AK플라자"><span>광명AK플라자</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="광명소하"><span>광명소하</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="금정AK플라자"><span>금정AK플라자</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="김포한강신도시"><span>김포한강신도시</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="남양주"><span>남양주</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="남양주현대아울렛 스페이스원"><span>남양주현대아울렛 스페이스원</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="동탄"><span>동탄</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="미사강변"><span>미사강변</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="백석"><span>백석</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="별내"><span>별내</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="부천스타필드시티"><span>부천스타필드시티</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="분당"><span>분당</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="수원"><span>수원</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="수원남문"><span>수원남문</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="수원호매실"><span>수원호매실</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="시흥배곧"><span>시흥배곧</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="안산중앙"><span>안산중앙</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="안성스타필드"><span>안성스타필드</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="양주"><span>양주</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="영통"><span>영통</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="용인기흥"><span>용인기흥</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="용인테크노벨리"><span>용인테크노벨리</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="의정부민락"><span>의정부민락</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="일산"><span>일산</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="일산벨리시티"><span>일산벨리시티</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="킨텍스"><span>킨텍스</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="파주금촌"><span>파주금촌</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="파주운정"><span>파주운정</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="파주출판도시"><span>파주출판도시</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="하남스타필드"><span>하남스타필드</span></label></br>


        </p>

        <p type="text" id = "theater3" style="display:none;" >
            <label class="div2"><input type="radio" name= "mega" value="검단"><span>검단</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="송도"><span>송도</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="영종"><span>영종</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="인천논현"><span>인천논현</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="청라지젤"><span>청라지젤</span></label></br>

        </p>
        <p type="text" id = "theater4" style="display:none;" >
            <label class="div2"><input type="radio" name= "mega" value="공주"><span>공주</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="논산"><span>논산</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="대전"><span>대전</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="대전신세계아트앤사이언스"><span>대전신세계아트앤사이언스</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="대전유성"><span>대전유성</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="대전중앙로"><span>대전중앙로</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="대전현대아울렛"><span>대전현대아울렛</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="세종(조치원)"><span>세종(조치원)</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="세종나성"><span>세종나성</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="세종청사"><span>세종청사</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="오창"><span>오창</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="제천"><span>제천</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="진천"><span>진천</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="천안"><span>천안</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="청주시장"><span>청주시장</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="충주"><span>충주</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="흥성내포"><span>흥성내포</span></label></br>

        </p>
        <p type="text" id = "theater5" style="display:none;" >
            <label class="div2"><input type="radio" name= "mega" value="경북도청"><span>경북도청</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="경산하양"><span>경산하양</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="구미강동"><span>구미강동</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="김천"><span>김천</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="남포항"><span>남포항</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="대구신세계(동대구)"><span>대구신세계(동대구)</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="대구아시아"><span>대구아시아</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="덕천"><span>덕천</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="마산"><span>마산</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="문경"><span>문경</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="부산극장"><span>부산극장</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="부산대"><span>부산대</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="북대구(칠곡)"><span>북대구(칠곡)</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="사상"><span>사상</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="삼천포"><span>삼천포</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="양산"><span>양산</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="양산라피에스타"><span>양산라피에스타</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="울산"><span>울산</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="정관"><span>정관</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="창원"><span>창원</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="창원내서"><span>창원내서</span></label></br>

        </p>
        <p type="text" id = "theater6" style="display:none;" >
            <label class="div2"><input type="radio" name= "mega" value="광주상무"><span>광주상무</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="광주하남"><span>광주하남</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="목포하당(포르모)"><span>목포하당(포르모)</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="송천"><span>송천</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="순천"><span>순천</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="여수웅천"><span>여수웅천</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="전대(광주)"><span>전대(광주)</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="전주혁신"><span>전주혁신</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="첨단"><span>첨단</span></label></br>

        </p>
        <p type="text" id = "theater7" style="display:none;" >
            <label class="div2"><input type="radio" name= "mega" value="남춘천"><span>남춘천</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="속초"><span>속초</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="원주"><span>원주</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="원주센트럴"><span>원주센트럴</span></label></br>
            <label class="div2"><input type="radio" name= "mega" value="춘천석사"><span>춘천석사</span></label></br>


        </p>
    </div>
</div>

<script type="text/javascript">



    function toggleBtn1() {

        // 토글 할 버튼 선택 (btn1)

        const theater1 = document.getElementById('theater1');
        const theater2 = document.getElementById('theater2');
        const theater3 = document.getElementById('theater3');
        const theater4 = document.getElementById('theater4');
        const theater5 = document.getElementById('theater5');
        const theater6 = document.getElementById('theater6');
        const theater7 = document.getElementById('theater7');


        // btn1 숨기기 (display: none)
        theater1.style.display='block';
        theater2.style.display = 'none';
        theater3.style.display = 'none';
        theater4.style.display = 'none';
        theater5.style.display = 'none';
        theater6.style.display = 'none';
        theater7.style.display = 'none';

        // btn` 보이기 (display: block)


    }
    function toggleBtn2() {

        // 토글 할 버튼 선택 (btn1)
        const btn2= document.getElementById('btn2');
        const theater1 = document.getElementById('theater1');
        const theater2 = document.getElementById('theater2');
        const theater3 = document.getElementById('theater3');
        const theater4 = document.getElementById('theater4');
        const theater5 = document.getElementById('theater5');
        const theater6 = document.getElementById('theater6');
        const theater7 = document.getElementById('theater7');


        // btn1 숨기기 (display: none)
        theater1.style.display='none';
        theater2.style.display = 'block';
        theater3.style.display = 'none';
        theater4.style.display = 'none';
        theater5.style.display = 'none';
        theater6.style.display = 'none';
        theater7.style.display = 'none';


    }

    function toggleBtn3() {

        // 토글 할 버튼 선택 (btn1)

        const theater1 = document.getElementById('theater1');
        const theater2 = document.getElementById('theater2');
        const theater3 = document.getElementById('theater3');
        const theater4 = document.getElementById('theater4');
        const theater5 = document.getElementById('theater5');
        const theater6 = document.getElementById('theater6');
        const theater7 = document.getElementById('theater7');


        // btn1 숨기기 (display: none)
        theater1.style.display='none';
        theater2.style.display = 'none';
        theater3.style.display = 'block';
        theater4.style.display = 'none';
        theater5.style.display = 'none';
        theater6.style.display = 'none';
        theater7.style.display = 'none';


    }

    function toggleBtn4() {

        // 토글 할 버튼 선택 (btn1)

        const theater1 = document.getElementById('theater1');
        const theater2 = document.getElementById('theater2');
        const theater3 = document.getElementById('theater3');
        const theater4 = document.getElementById('theater4');
        const theater5 = document.getElementById('theater5');
        const theater6 = document.getElementById('theater6');
        const theater7 = document.getElementById('theater7');


        // btn1 숨기기 (display: none)
        theater1.style.display='none';
        theater2.style.display = 'none';
        theater3.style.display = 'none';
        theater4.style.display = 'block';
        theater5.style.display = 'none';
        theater6.style.display = 'none';
        theater7.style.display = 'none';


    }

    function toggleBtn5() {

        // 토글 할 버튼 선택 (btn1)

        const theater1 = document.getElementById('theater1');
        const theater2 = document.getElementById('theater2');
        const theater3 = document.getElementById('theater3');
        const theater4 = document.getElementById('theater4');
        const theater5 = document.getElementById('theater5');
        const theater6 = document.getElementById('theater6');
        const theater7 = document.getElementById('theater7');


        // btn1 숨기기 (display: none)
        theater1.style.display='none';
        theater2.style.display = 'none';
        theater3.style.display = 'none';
        theater4.style.display = 'none';
        theater5.style.display = 'block';
        theater6.style.display = 'none';
        theater7.style.display = 'none';


    }

    function toggleBtn6() {

        // 토글 할 버튼 선택 (btn1)

        const theater1 = document.getElementById('theater1');
        const theater2 = document.getElementById('theater2');
        const theater3 = document.getElementById('theater3');
        const theater4 = document.getElementById('theater4');
        const theater5 = document.getElementById('theater5');
        const theater6 = document.getElementById('theater6');
        const theater7 = document.getElementById('theater7');


        // btn1 숨기기 (display: none)
        theater1.style.display='none';
        theater2.style.display = 'none';
        theater3.style.display = 'none';
        theater4.style.display = 'none';
        theater5.style.display = 'none';
        theater6.style.display = 'block';
        theater7.style.display = 'none';


    }

    function toggleBtn7() {

        // 토글 할 버튼 선택 (btn1)

        const theater1 = document.getElementById('theater1');
        const theater2 = document.getElementById('theater2');
        const theater3 = document.getElementById('theater3');
        const theater4 = document.getElementById('theater4');
        const theater5 = document.getElementById('theater5');
        const theater6 = document.getElementById('theater6');
        const theater7 = document.getElementById('theater7');


        // btn1 숨기기 (display: none)
        theater1.style.display='none';
        theater2.style.display = 'none';
        theater3.style.display = 'none';
        theater4.style.display = 'none';
        theater5.style.display = 'none';
        theater6.style.display = 'none';
        theater7.style.display = 'block';


    }



</script>
<script>
    // var div2 = document.getElementsByClassName("div2");
    //
    // function handleClick(event) {
    //     console.log(event.target);
    //     // console.log(this);
    //     // 콘솔창을 보면 둘다 동일한 값이 나온다
    //
    //     console.log(event.target.classList);
    //
    //     if (event.target.classList[1] === "clicked") {
    //         event.target.classList.remove("clicked");
    //     } else {
    //         for (var i = 0; i < div2.length; i++) {
    //             div2[i].classList.remove("clicked");
    //         }
    //
    //         event.target.classList.add("clicked");
    //     }
    // }
    //
    // function init() {
    //     for (var i = 0; i < div2.length; i++) {
    //         div2[i].addEventListener("click", handleClick);
    //     }
    // }
    //
    // init();
</script>
<script>
    var div4 = document.getElementsByClassName("div4");

    function handleClick(event) {
        console.log(event.target);
        // console.log(this);
        // 콘솔창을 보면 둘다 동일한 값이 나온다

        console.log(event.target.classList);

        if (event.target.classList[1] === "clicked") {
            event.target.classList.remove("clicked");
        } else {
            for (var i = 0; i < div4.length; i++) {
                div4[i].classList.remove("clicked");
            }

            event.target.classList.add("clicked");
        }
    }

    function init() {
        for (var i = 0; i < div4.length; i++) {
            div4[i].addEventListener("click", handleClick);
        }
    }

    init();
</script>

</body>
</html>