 <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BEMO</title>
</head>

<body>
<table id="PostsTable">
    <tr>

        <th>작성자</th>
        <th>영화</th>
        <th>제목</th>
        <th>내용</th>
        <th>이미지</th>
    </tr>
    <!-- th: each를 이용하면 반복문을 이용할 수 있다. -->
    <!-- th:each="student, studentStat: ${studentList}" 와 동일하며
              status를 명시하지 않더라도 앞의 "오브젝트명stat" 를 이용하여 접근 가능하다. -->
    <form  id="excelForm" enctype="multipart/form-data">
        <p style="display: none" name="update_id" id="update_id" th:text="${update_id}"></p>
        <tr th:each="Posts: ${Posts}">
            <td th:text="${Posts.author}"></td>
            <td th:text="${Posts.mvtitle}" name="mvtitle" id="mvtitle"></td>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력하세요">
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" name="content" id="content" placeholder="내용을 입력하세요"></textarea>
            </div>
            <div class="form-group">
                <label for="file"> 파일 </label>
                <input type="file" name="file" id="file"> <br>
            </div>
        </form>
    </tr>
</table>
<a href="/" role="button" class="btn btn-secondary">취소</a>
<button type="button" class="btn btn-primary" id="btn-update">수정완료</button>
<button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" th:src="@{/js/review.js}"></script>
</body>
</html>